<div class="container_big_card">
  <div class="big_card_picture">
    <a href="#">
      <img
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.u3mgmYMq4ofTd4lBtZtbxQHaD4%26pid%3DApi&f=1&ipt=56d0f7d8971fff568ec0d6048beea63cc5ef87066219dfd0a90d2160ccaa4f50&ipo=images"
        alt="placeholder img"
      />
    </a>
  </div>
  <div class="big_card_title">
    <h1><a href="#">Nova versão do Angular</a></h1>
  </div>
  <div class="big_card_description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam omnis,
        aut dolorum quod velit veritatis aliquid nesciunt repudiandae inventore
        debitis.
      </a>
    </p>
  </div>
</div>
