@use '../../../values.sass'

.container_menu_title
  margin: 0 0 2rem 0
  width: 100vw

  h1
    margin: 1.5rem 0
    font-size: 4rem
    text-align: center
    text-transform: uppercase

  hr
    width: 100%

  @media (min-width: values.$large-screen)
    max-width: 90vw

    h1
      font-size: 6rem

  @media (min-width: values.$extra-large-screen)
    max-width: 1100px

    h1
      font-size: 8rem

