header
  display: flex
  justify-content: center

footer
  padding: 10px
  font-size: 1.6rem
  text-align: center
  display: flex
  justify-content: center
  background-color: #1b1b1b

  p
    display: flex
    align-items: center
    color: grey
    background-color: #1b1b1b

    svg
      margin: 0 6px
      width: 4.8rem
      background-color: #1b1b1b

