@use '../../../values'

.container
  width: 100vw

  .content
    display: flex
    align-items: center
    justify-content: flex-start
    padding: 0 2rem
    gap: 16px

    img
      width: 14rem
      height: 12rem
      object-fit: cover

    .title
      font-size: 2rem
      text-align: start

  hr
    margin-top: 10px

  @media (min-width: values.$medium-screen)
    width: 70vw

  @media (min-width: values.$large-screen)
    max-width: 425px
    .content
      img
        width: 18rem

  @media (min-width: values.$extra-large-screen)
    max-width: 525px

.white_card
  background-color: #e0e0e0

  .content
    .title
      color: #292929

  hr
    color: #292929
