@use '../../../values'

.container_small_card
  min-width: 700px
  margin-bottom: 15px

  .container_small_card_content
    display: flex
    gap: 20px

    .small_card_picture
      a
        img
          width: 250px
          height: 120px
          border-radius: 5px

    .small_card_title
      display: flex
      justify-content: center
      align-items: center

  .container_small_card_separator
    margin-top: 15px

  @media (max-width: values.$medium-screen)
    min-width: 640px
    margin: 0

  @media (max-width: values.$small-screen)
    min-width: 460px
    .container_small_card_content
      .small_card_picture
        a
          img
            width: 150px
            height: 72px
      .small_card_title
        font-size: .9rem
        width: 240px




