<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles_main">
    <app-big-card
      Id="{{ MainPost.id }}"
      pictureCover="{{ MainPost.picture }}"
      cardTitle="{{ MainPost.title }}"
      cardDescription="{{ MainPost.subtitle }}"
    ></app-big-card>
  </div>

  <div class="articles_others">
    <app-small-card
      *ngFor="let post of otherPosts; let i = index"
      Id="{{ post.id }}"
      pictureCover="{{ post.picture }}"
      cardTitle="{{ post.title }}"
    >
    </app-small-card>
  </div>
</div>

<app-previous-posts-header></app-previous-posts-header>

<div class="previous_articles">
  <app-small-card
    *ngFor="let post of previousPosts"
    Id="{{ post.id }}"
    pictureCover="{{ post.picture }}"
    cardTitle="{{ post.title }}"
  ></app-small-card>
</div>
