@use '../../../values'

main
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  margin: 0 auto

  .container_posts
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    .main_post
      max-width: 100vw

  .container_previous_posts
    width: 100vw
    background-color: #f0f0f0
    padding: 20px 0

  @media (min-width: values.$medium-screen)
    .container_previous_posts
      display: flex
      flex-flow: nowrap column
      justify-content: center
      align-items: center

  @media (min-width: values.$large-screen)
    max-width: 90vw

    .container_posts
      align-items: start
      flex-direction: row
      gap: 20px
      margin-bottom: 80px

    .container_previous_posts
      flex-wrap: wrap

      height: 75vh
      width: 100vw

  @media (min-width: values.$extra-large-screen)
    max-width: 1100px

    .container_previous_posts
      gap: 0 10px
      padding: 0 120px
