@use '../../../values'

.container_articles
  margin-top: 30px
  display: flex
  justify-content: center

  // .articles_main
  // .articles_others

  @media (max-width: values.$small-screen)
    flex-direction: column
    align-items: center
    gap: 50px

    .articles_main,
    .articles_others
      max-width: 90vw

header
  display: flex
  justify-content: center
  margin-top: 15px
