@use '../../../values'

.container_articles
  margin-top: 30px
  display: flex
  justify-content: center

  @media (max-width: values.$medium-screen)
    flex-flow: column nowrap
    align-items: center
    gap: 80px


.previous_articles
  display: flex
  flex-flow: column wrap
  gap: 10px
  margin: 0 auto
  padding: 0 20px
  height: 52rem

  @media (max-width: values.$large-screen)
    padding: 0
    gap: 0
    align-items: center
    flex-wrap: nowrap
    height: 58rem

  @media (max-width: values.$small-screen)


