@use '../../../values'

.container
  width: 100vw
  margin: 40px 0

  h3
    margin: 24px
    text-align: center
    font-size: 3.6rem

  hr
    width: 100%

  @media (max-width: values.$medium-screen)
    h3
      font-size: 2.2rem

