*
  margin: 0
  padding: 0
  box-sizing: border-box
  background-color: #111
  color: #fff

html
  font-size: 62.5%
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

a
  text-decoration: none
